{% extends 'baseInterface.html.twig' %}
{% block body %}
    {% block menu %}
        {{ parent() }}
        {% endblock %}
    <div class="card mb-3" style="width: 100%">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ blogger.image }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
<<<<<<< HEAD
                <div class="card-body">
                    <h5 class="card-title">{{ blogger.firstName }}</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
=======
                <div class="card-body" >
                    <h5 class="card-title">{{ blogger.name }}</h5>
                    <p class="card-text">{{ blogger.shortInformation }}</p>
>>>>>>> c1720eff74739ea8aa34dafe62fc197f42df78a4
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% block content %}
                {% for post in posts %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                {% if post.image!="" %}
                                    <img src={{ post.image }} class="card-img" style="height: 200px; width: 200px;"
                                         alt="...">
                                {% else %}
                                    <img src="https://uaprom-static.c2.prom.st/image/new_design/images/no_image-hce614324446b22b42a09b69093e309fce.png"
                                         style="height: 200px; width: 200px;" class="card-img" alt="...">
                                {% endif %}
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="http://coursework.com/post?id={{ post.id }}"><h4 class="card-title">{{ post.title }}</a>  <h5>{{ post.data }}</h5></h4>
                                    <p class="card-text">{{ post.text|slice(0,80) }}</p>
                                    {% if not is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                                        {% if post.isLiked %}
                                            <button type="button" class="btn btn-outline-primary active">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Facebook_like_thumb.png/700px-Facebook_like_thumb.png"
                                                     style="width: 20px;height: 20px;" alt="">
                                                <label for="formGroupExampleInput">{{ post.like }}</label></button>
                                        {% else %}
                                            <button type="button" class="btn btn-outline-primary">
                                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Facebook_like_thumb.png/700px-Facebook_like_thumb.png"
                                                     style="width: 20px;height: 20px;" alt="">
                                                <label for="formGroupExampleInput">{{ post.like }}</label></button>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
            <div class="navigation text-center" >
                {{ knp_pagination_render(posts) }}
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>

    </div>
{% endblock %}