{% extends 'baseInterface.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ parent() }}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
<div class="container">
    <div class="row" style = "height: 150px;"></div>
    <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h3 align = center>Please sign in</h3>
        <form method="post">
            <div class="form-group">
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="row mr-auto">
                <div class="col-sm-8"></div>
                <div class="col-sm-4"><a href = "/changePassword" style="font-size: 12px" class="badge badge-light">Forgot password?</a></div>

            </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            <label for="remember_me">Keep me logged in</label>
            <div class="row">
                <div class="col-sm-12">
                <button class="btn  btn-primary " type="submit" style = "width: 100%">Sign in</button>
                </div>
            </div>
            <div class="row ml-auto">
                <label for="" style="font-size: 12px">Have no account?</label>
                <a href = "http://coursework.com/registration" style="font-size: 12px" class="badge badge-light">Sign up</a>
            </div>

    </form>
    </div>
    </div>
    <div class="row col-sm-4"></div>
    </div>
{% endblock %}
